#r{
    background-color: blue;
    width: 500px;
    height: 300px;
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    z-index: 100;
}
#c{
    background-color: red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 250px;
    margin-top: 150px;
}